#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.css-hlj6pa-MuiDialogActions-root {
  display: none !important;
}

.css-1hbyad5-MuiTypography-root {
  display: none !important
}

.css-j88s13-MuiPickersToolbar-root-MuiDatePickerToolbar-root {
  display: grid !important
}

.css-j88s13-MuiPickersToolbar-root-MuiDatePickerToolbar-root {
  padding: 0 !important;
}

.css-3jvy96-MuiTypography-root-MuiDatePickerToolbar-title {
  justify-content: center !important;
  background-color: white;
  padding: 2rem;
}


.css-1hbyad5-MuiTypography-root {
  display: none !important;
}

.css-7oawqu-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
  border-color: transparent !important;
}

.css-7oawqu-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: #ADD8E6 !important;
}

.css-1qs309j-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: #ADD8E6 !important;
}

.header-text {
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: black;
  font-family: "Courier New";
  font-size: 3rem;
}
/* date for calander */
.css-jhsfre-MuiGrid-root-MuiPickersToolbar-content {
  justify-content: center !important;
}

.css-1eurbeq-MuiPickersToolbar-root-MuiDatePickerToolbar-root {
  background-color: white;
}

/*calander stuff */
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.Badge {
  color: black !important;
}
.MuiStaticDatePicker-root {
  width: 40rem;
  height: 20rem;
  margin: 0 auto;
}
