.footer {
    width: 100%;
    padding: 0.15rem 0;
    background-color: rgba(129, 124, 124, 0.8);
}

.footer-container {
    max-width: 2040px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}

.left {
    height: 100%;
    max-width: 100%;
    display: table-row;
    flex-direction: column;
    padding: 1rem;
}

.creators {
    display: flex;
    margin-bottom: 0.2rem;
}

.creators p {
    line-height: 30px;
}

.right {
    height: 100%;
    max-width: 100%;
    display: table-row;
    flex-direction: row;
    padding: 1rem;
    margin-top: 0.25rem;
}

h4 {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

p {
    font-size: 1.2rem;
}

@media screen and (max-width: 640px) {
    .footer-container {
        grid-template-columns: 1fr;
    }
}